.display1 {
  box-sizing: border-box;
  height: 60%;
  width: 100%;
}

.input-display1 {
  height: 100%;
  width: 100%;
  border: none;
  text-align: right;
  font-weight: 600;
  font-size: 40px;
  cursor: default;
  padding: 5px 10px 5px 10px;
  letter-spacing: 1px;
}

.input-display1:focus {
  outline: none;
}
