.display2 {
  box-sizing: border-box;
  height: 40%;
  width: 100%;
}

.input-display2 {
  height: 100%;
  width: 100%;
  border: none;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
  cursor: default;
  padding: 0 10px 5px 10px;
  letter-spacing: 1px;
}

.input-display2:focus {
  outline: none;
}
